## IMPORTANT POINTS

## - In this task i was asked to create a tool to predict the disease of Ms Sara & i was asked to tell the likelihood of it being Covid or Malaria but I ADDED MORE DISEASE

## - it is mentioned in task that she had only two symptoms but this program can intake 7 SYMPTOMS as inputs

## - only covid symptom dataset was available online & malaria's dataset contained microscopic images only

## - i created malaria's dataset mannually by studying it's symptoms online which was quite time consuming

## IMPORTING RELEVANT LIBRARIES

In [149]:
import numpy as np
import pandas as pd

## LOADING THE DATA

In [150]:
df1 = pd.read_excel('dataset.xlsx')

## CHECKING THE DATAHEAD

In [151]:
df1.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,vomiting,chills,covid,malaria,flu
0,1,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,1,0,0
2,1,0,0,0,0,0,0,1,0,0
3,0,1,0,0,1,0,0,1,0,0
4,0,1,0,0,0,0,0,1,0,0

## SHUFFLING THE DATA

In [152]:
df2=df1.sample(frac=1)

In [153]:
df2.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,vomiting,chills,covid,malaria,flu
669,0,0,0,0,0,0,0,1,0,0
2516,0,0,0,0,0,0,1,0,0,1
2615,0,0,0,0,0,0,0,0,0,1
2523,0,0,0,0,0,0,1,0,0,1
17,1,0,0,0,0,0,0,1,0,0

## IMPORTING SKLEARN TO SPLIT THE DATASET

In [154]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

## ASSIGNING THE INPUT AND TARGET COLUMNS

In [155]:
x = df2.drop(columns = ['covid','malaria','flu'],axis=1)
k = df2[['covid','malaria','flu']]

In [156]:
x

,cough,fever,sore_throat,shortness_of_breath,head_ache,vomiting,chills
669,0,0,0,0,0,0,0
2516,0,0,0,0,0,0,1
2615,0,0,0,0,0,0,0
2523,0,0,0,0,0,0,1
17,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...
507,0,0,0,0,0,0,0
1209,0,0,0,0,1,1,0
385,0,0,0,0,0,0,0
2407,0,0,0,0,0,0,1
1559,0,0,0,0,0,0,0

In [157]:
k

      covid  malaria  flu
669       1        0    0
2516      0        0    1
2615      0        0    1
2523      0        0    1
17        1        0    0
...     ...      ...  ...
507       1        0    0
1209      0        1    0
385       1        0    0
2407      0        0    1
1559      0        1    0

[3000 rows x 3 columns]

## IMPORTING RELEVANT LIBRARIES

In [158]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.losses import binary_crossentropy
from tensorflow.keras.optimizers import Adam

## SELECTING FEATURES

In [168]:
n_samples = 3000
n_features = 7
n_classes = 3
n_labels = 2
n_epochs = 50
random_state = 42
batch_size = 250
verbosity = 1
validation_split = 0.2

## TRAINING AND TESTING

In [169]:
X_train, X_test, y_train, y_test = train_test_split(x, k, test_size=0.33,stratify = k,random_state=random_state)

## CREATING MODEL

In [170]:
model = Sequential()
model.add(Dense(32, activation='relu', input_dim=n_features))
model.add(Dense(16, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(n_classes, activation='sigmoid'))

## COMPILING THE MODEL

In [171]:
model.compile(loss=binary_crossentropy,
              optimizer=Adam(),
              metrics=['accuracy'])

## FITTING THE TRAIN & TEST DATA

In [172]:
model.fit(X_train, y_train,
          batch_size=batch_size,
          epochs=n_epochs,
          verbose=verbosity,
          validation_split=validation_split)

Epoch 1/50
7/7 [==============================] - 5s 140ms/step - loss: 0.6885 - accuracy: 0.2326 - val_loss: 0.6826 - val_accuracy: 0.4080
Epoch 2/50
7/7 [==============================] - 0s 42ms/step - loss: 0.6802 - accuracy: 0.3924 - val_loss: 0.6742 - val_accuracy: 0.4428
Epoch 3/50
7/7 [==============================] - 0s 62ms/step - loss: 0.6718 - accuracy: 0.4136 - val_loss: 0.6647 - val_accuracy: 0.4403
Epoch 4/50
7/7 [==============================] - 0s 71ms/step - loss: 0.6627 - accuracy: 0.4266 - val_loss: 0.6544 - val_accuracy: 0.5075
Epoch 5/50
7/7 [==============================] - 0s 55ms/step - loss: 0.6527 - accuracy: 0.3644 - val_loss: 0.6438 - val_accuracy: 0.3433
Epoch 6/50
7/7 [==============================] - 0s 67ms/step - loss: 0.6421 - accuracy: 0.3327 - val_loss: 0.6338 - val_accuracy: 0.3433
Epoch 7/50
7/7 [==============================] - 0s 38ms/step - loss: 0.6327 - accuracy: 0.3327 - val_loss: 0.6241 - val_accuracy: 0.3433
Epoch 8/50
7/7 [==============================] - 0s 59ms/step - loss: 0.6237 - accuracy: 0.3327 - val_loss: 0.6149 - val_accuracy: 0.3433
Epoch 9/50
7/7 [==============================] - 0s 41ms/step - loss: 0.6149 - accuracy: 0.3327 - val_loss: 0.6058 - val_accuracy: 0.3433
Epoch 10/50
7/7 [==============================] - 0s 40ms/step - loss: 0.6063 - accuracy: 0.3327 - val_loss: 0.5969 - val_accuracy: 0.3433
Epoch 11/50
7/7 [==============================] - 0s 50ms/step - loss: 0.5978 - accuracy: 0.3327 - val_loss: 0.5880 - val_accuracy: 0.3458
Epoch 12/50
7/7 [==============================] - 0s 50ms/step - loss: 0.5893 - accuracy: 0.4005 - val_loss: 0.5790 - val_accuracy: 0.4428
Epoch 13/50
7/7 [==============================] - 0s 46ms/step - loss: 0.5807 - accuracy: 0.4571 - val_loss: 0.5702 - val_accuracy: 0.5025
Epoch 14/50
7/7 [==============================] - 0s 51ms/step - loss: 0.5722 - accuracy: 0.5068 - val_loss: 0.5612 - val_accuracy: 0.4751
Epoch 15/50
7/7 [==============================] - 0s 48ms/step - loss: 0.5629 - accuracy: 0.5653 - val_loss: 0.5512 - val_accuracy: 0.6045
Epoch 16/50
7/7 [==============================] - 0s 42ms/step - loss: 0.5529 - accuracy: 0.6014 - val_loss: 0.5405 - val_accuracy: 0.6045
Epoch 17/50
7/7 [==============================] - 0s 65ms/step - loss: 0.5424 - accuracy: 0.6057 - val_loss: 0.5297 - val_accuracy: 0.6119
Epoch 18/50
7/7 [==============================] - 0s 66ms/step - loss: 0.5318 - accuracy: 0.6063 - val_loss: 0.5189 - val_accuracy: 0.6517
Epoch 19/50
7/7 [==============================] - 1s 96ms/step - loss: 0.5211 - accuracy: 0.6350 - val_loss: 0.5086 - val_accuracy: 0.6517
Epoch 20/50
7/7 [==============================] - 0s 75ms/step - loss: 0.5103 - accuracy: 0.6362 - val_loss: 0.4978 - val_accuracy: 0.6493
Epoch 21/50
7/7 [==============================] - 1s 98ms/step - loss: 0.4995 - accuracy: 0.6368 - val_loss: 0.4871 - val_accuracy: 0.6493
Epoch 22/50
7/7 [==============================] - 0s 42ms/step - loss: 0.4885 - accuracy: 0.6387 - val_loss: 0.4768 - val_accuracy: 0.6493
Epoch 23/50
7/7 [==============================] - 0s 51ms/step - loss: 0.4779 - accuracy: 0.6387 - val_loss: 0.4670 - val_accuracy: 0.6493
Epoch 24/50
7/7 [==============================] - 0s 52ms/step - loss: 0.4677 - accuracy: 0.6381 - val_loss: 0.4577 - val_accuracy: 0.6493
Epoch 25/50
7/7 [==============================] - 0s 44ms/step - loss: 0.4580 - accuracy: 0.6381 - val_loss: 0.4496 - val_accuracy: 0.6493
Epoch 26/50
7/7 [==============================] - 0s 53ms/step - loss: 0.4490 - accuracy: 0.6374 - val_loss: 0.4414 - val_accuracy: 0.6468
Epoch 27/50
7/7 [==============================] - 0s 63ms/step - loss: 0.4403 - accuracy: 0.6542 - val_loss: 0.4338 - val_accuracy: 0.6692
Epoch 28/50
7/7 [==============================] - 1s 75ms/step - loss: 0.4323 - accuracy: 0.6810 - val_loss: 0.4274 - val_accuracy: 0.6667
Epoch 29/50
7/7 [==============================] - 1s 110ms/step - loss: 0.4249 - accuracy: 0.6797 - val_loss: 0.4216 - val_accuracy: 0.6692
Epoch 30/50
7/7 [==============================] - 0s 68ms/step - loss: 0.4186 - accuracy: 0.6810 - val_loss: 0.4171 - val_accuracy: 0.6667
Epoch 31/50
7/7 [==============================] - 0s 58ms/step - loss: 0.4131 - accuracy: 0.6791 - val_loss: 0.4131 - val_accuracy: 0.6667
Epoch 32/50
7/7 [==============================] - 0s 69ms/step - loss: 0.4082 - accuracy: 0.6791 - val_loss: 0.4105 - val_accuracy: 0.6667
Epoch 33/50
7/7 [==============================] - 1s 78ms/step - loss: 0.4043 - accuracy: 0.6791 - val_loss: 0.4075 - val_accuracy: 0.6667
Epoch 34/50
7/7 [==============================] - 0s 61ms/step - loss: 0.4007 - accuracy: 0.6828 - val_loss: 0.4046 - val_accuracy: 0.6692
Epoch 35/50
7/7 [==============================] - 1s 119ms/step - loss: 0.3977 - accuracy: 0.6859 - val_loss: 0.4024 - val_accuracy: 0.6692
Epoch 36/50
7/7 [==============================] - 0s 69ms/step - loss: 0.3951 - accuracy: 0.6859 - val_loss: 0.4004 - val_accuracy: 0.6692
Epoch 37/50
7/7 [==============================] - 0s 66ms/step - loss: 0.3931 - accuracy: 0.6859 - val_loss: 0.3995 - val_accuracy: 0.6692
Epoch 38/50
7/7 [==============================] - 0s 46ms/step - loss: 0.3914 - accuracy: 0.6816 - val_loss: 0.3992 - val_accuracy: 0.6692
Epoch 39/50
7/7 [==============================] - 1s 105ms/step - loss: 0.3894 - accuracy: 0.6859 - val_loss: 0.3977 - val_accuracy: 0.6692
Epoch 40/50
7/7 [==============================] - 0s 61ms/step - loss: 0.3877 - accuracy: 0.6859 - val_loss: 0.3967 - val_accuracy: 0.6692
Epoch 41/50
7/7 [==============================] - 0s 62ms/step - loss: 0.3869 - accuracy: 0.6859 - val_loss: 0.3963 - val_accuracy: 0.6692
Epoch 42/50
7/7 [==============================] - 1s 107ms/step - loss: 0.3868 - accuracy: 0.6859 - val_loss: 0.3970 - val_accuracy: 0.6692
Epoch 43/50
7/7 [==============================] - 1s 116ms/step - loss: 0.3847 - accuracy: 0.6859 - val_loss: 0.3960 - val_accuracy: 0.6692
Epoch 44/50
7/7 [==============================] - 0s 74ms/step - loss: 0.3838 - accuracy: 0.6859 - val_loss: 0.3956 - val_accuracy: 0.6692
Epoch 45/50
7/7 [==============================] - 0s 46ms/step - loss: 0.3830 - accuracy: 0.6859 - val_loss: 0.3951 - val_accuracy: 0.6692
Epoch 46/50
7/7 [==============================] - 0s 48ms/step - loss: 0.3823 - accuracy: 0.6859 - val_loss: 0.3951 - val_accuracy: 0.6692
Epoch 47/50
7/7 [==============================] - 0s 45ms/step - loss: 0.3817 - accuracy: 0.6859 - val_loss: 0.3947 - val_accuracy: 0.6692
Epoch 48/50
7/7 [==============================] - 0s 56ms/step - loss: 0.3812 - accuracy: 0.6859 - val_loss: 0.3948 - val_accuracy: 0.6692
Epoch 49/50
7/7 [==============================] - 0s 58ms/step - loss: 0.3807 - accuracy: 0.6866 - val_loss: 0.3945 - val_accuracy: 0.6692
Epoch 50/50
7/7 [==============================] - 0s 71ms/step - loss: 0.3799 - accuracy: 0.6866 - val_loss: 0.3942 - val_accuracy: 0.6692

## CHECKING FOR ACCURACY

In [173]:
score = model.evaluate(X_test, y_test, verbose=0)

In [174]:
print(f'Test loss: {score[0]} / Test accuracy: {score[1]}')

Test loss: 0.3836374580860138 / Test accuracy: 0.6898989677429199

## PREDICTING DISEASE ON THE BASIS OF GIVEN SYMPTOMS (FEVER & HEADACHE)

In [175]:
cf = [] # CREATING A LIST TO STORE INPUT VALUES
y = 0 
while len(cf)<7:
    z = x.columns[y] # TO PRINT THE NAME OF THE SYMPTOM IN PROMPT WHICH IS ALSO THE NAME OF THE COLUMN
    print('Do You Have:',z) # ASKING FOR SYMPTOMS
    symp = input('Enter 1 = Yes,0 = No:') # 1 MEANS YES AND 0 MEANS NO
    f = symp.split(",") # CONVERTING IT INTO LIST
    cf.append(f[0]) # APPENDING IT INTO LIST
    y += 1
    for i in range(0, len(cf)): # CONVERTING STRING LIST INTO INTEGER LIST
        cf[i] = int(cf[i])
        
tr = model.predict([cf]).round(2) # MAKING PREDICTIONS AND ROUNDING OFF THE FIGURE UPTO 2 DECIMAL PLACES
    
hlist = [] # CREATING A LIST TO STORE THE PREDICTED VALUES
for i in tr: # LOOPING TO EXTRACT VALUES
    i = i*100 # MULTIPLYING BY 100 TO MAKE THIS PERCENTAGE IN HUNDREDS NOT IN DECIMALS
    hlist.append(i[0])
    hlist.append(i[1])
    hlist.append(i[2])
    df_fn = pd.DataFrame()
    df_fn['Disease'] = ['Covid','Malaria','Flu'] # CREATING A NEW DATAFRAME AND NAMING THE COLUMNS WITH THE REQUIRED DISEASE
    df_fn['Likelihood_In_Percent'] = hlist # STORING THE DATA IN THE APPROPRIATE ROW OF THIS NEWLY FORMED DATAFRAME
    final = df_fn.sort_values(by='Likelihood_In_Percent', ascending=False) # PRINTING THE DATA IN DESCENDING ORDER AS REQUIRED
    print(final)

Do You Have: cough
Enter 1 = Yes,0 = No:0
Do You Have: fever
Enter 1 = Yes,0 = No:1
Do You Have: sore_throat
Enter 1 = Yes,0 = No:0
Do You Have: shortness_of_breath
Enter 1 = Yes,0 = No:0
Do You Have: head_ache
Enter 1 = Yes,0 = No:1
Do You Have: vomiting
Enter 1 = Yes,0 = No:0
Do You Have: chills
Enter 1 = Yes,0 = No:0
   Disease  Likelihood_In_Percent
1  Malaria                   56.0
0    Covid                   20.0
2      Flu                    2.0

## CONCLUSION:- On the basis of given symptoms we found out that there is 56% chance that Ms Sara has MALARIA, 20% chance for COVID & 2% chance for FLU.......BUT WE CAN PUT MORE SYMPTOMS IN THAT PROMPT FOR MORE ACCURACY